.mdx {
  /* Variables */
  --background-color: hsl(var(--background));
  --foreground-color: hsl(var(--foreground));

  --card-color: hsl(var(--card));
  --card-foreground-color: hsl(var(--card-foreground));

  --popover-color: hsl(var(--popover));
  --popover-foreground-color: hsl(var(--popover-foreground));

  --primary-color: hsl(var(--primary));
  --primary-foreground-color: hsl(var(--primary-foreground));

  --secondary-color: hsl(var(--secondary));
  --secondary-foreground-color: hsl(var(--secondary-foreground));

  --muted-color: hsl(var(--muted));
  --muted-foreground-color: hsl(var(--muted-foreground));

  --accent-color: hsl(var(--accent));
  --accent-foreground-color: hsl(var(--accent-foreground));

  --destructive-color: hsl(var(--destructive));
  --destructive-foreground-color: hsl(var(--destructive-foreground));

  --border-color: hsl(var(--border));
  --input-color: hsl(var(--input));
  --ring-color: hsl(var(--ring));

  max-width: 800px;
  min-height: 100%;
  margin: 0 auto;
  color: var(--foreground-color);

  // Anchor Styles
  a {
    position: relative;
    padding: 0.1em;
    color: #31e5c4;
    text-decoration: none;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   width: 0;
    //   height: 2px;
    //   background: #31e5c4;
    //   opacity: 0.5;
    //   transition: width 0.3s;
    // }

    // &:hover {
    //   &::after {
    //     width: 100%;
    //   }
    // }
  }

  img.twemoji {
    display: inline-block;
    height: 1.3em;
    width: 1.3em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.3em;
  }

  // MDX Embed
  .mdx-embed {
    position: relative;
    width: 100%;
    height: auto;

    iframe {
      width: auto;
      height: auto;
      border-radius: 12px;
    }
  }

  // Lists Styles
  ul,
  ol {
    padding-left: 1.5rem;

    li {
      margin-top: 0.2em;
      margin-bottom: 0.2em;

      p {
        padding: 0.3em 0 0.2em 0;
      }
    }
  }

  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-latin;
      ol {
        list-style-type: lower-roman;
        ol {
          list-style-type: upper-latin;
          ol {
            list-style-type: upper-roman;
          }
        }
      }
    }
  }

  ul {
    list-style-type: disc;
    ul {
      list-style-type: circle;
      ul {
        list-style-type: square;
        ul {
          list-style-type: square;
        }
      }
    }
  }

  // Images
  p:has(figure) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-items: center;
    justify-content: space-evenly;
  }

  blockquote {
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: table;
    padding: 0.7em;
    padding-left: 1.5em;
    border-radius: 0.8em;
    border-left: 0.5em solid var(--muted-foreground-color) !important;
    background-color: var(--muted-color);
    margin: 1em 0;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0.1em;
      left: 0.5em;
      width: 4em;
      height: 4em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%2394a3b844'%3E%3Cpath d='M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    h1,
    h2 {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  table {
    thead {
      tr:last-child {
        border-bottom-width: 3px;
      }
      tr th:last-child {
        border-right: none;
      }
    }

    tbody {
      tr:last-child {
        border-bottom: none;
      }

      tr td:last-child {
        border-right: none;
      }
    }
  }
}

// Prism Theme
.mdx {
  code[class*="language-"],
  pre[class*="language-"] {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    tab-size: 2;
    hyphens: none;
  }

  /* Code blocks */
  pre[class*="language-"] {
    font-size: 0.9rem;
    font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono",
      monospace;
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
  }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
    font-size: 1rem;
    background-color: hsl(var(--muted));
    padding: 0.2em 0.3em;
    border-radius: 0.3em;
    white-space: normal;
  }

  @media (width <= 700px) {
    :not(pre) > code[class*="language-"] {
      font-size: 0.9rem;
    }
  }

  .token.comment,
  .token.prolog,
  .token.cdata {
    color: #637777;
    font-style: italic;
  }

  .token.punctuation {
    color: #c792ea;
  }

  .namespace {
    color: #b2ccd6;
  }

  .token.deleted {
    color: #ef53508f;
    font-style: italic;
  }

  .token.symbol,
  .token.property {
    color: #80cbc4;
  }

  .token.tag,
  .token.operator,
  .token.keyword {
    color: #31e5c4;
  }

  .token.boolean {
    color: #ff5874;
  }

  .token.number {
    color: #f78c6c;
  }

  .token.constant,
  .token.function,
  .token.builtin,
  .token.char {
    color: #82aaff;
  }

  .token.selector,
  .token.doctype {
    color: #c792ea;
    font-style: italic;
  }

  .token.attr-name,
  .token.inserted {
    color: #addb67;
    font-style: italic;
  }

  .token.string,
  .token.url,
  .token.entity,
  .language-css .token.string,
  .style .token.string {
    color: #addb67;
  }

  .token.class-name,
  .token.atrule,
  .token.attr-value {
    color: #ffcb8b;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #d6deeb;
  }

  .token.important,
  .token.bold {
    font-weight: 700;
  }

  .token.italic {
    font-style: italic;
  }
}
